#content_holder,aside{
  display:inline-block;
  margin-left:50px;
}
h1{
  text-align:center;
}
img{
  margin-right:auto;
  display:block;
}
h1{
   font-style:oblique;
   text-align:center;
}
p1{
  border-style:groove;
  border-color:#A6CEF1;
} 
p2{
  border-style:groove;
  border-color:#A6CEF1;
}
img{
  margin-right:auto;
  dispay:block;
  width:100px;
}
  body{
  background-color:#E66ABE;
  }
